<div class="container-fluid" style="height: 100vh; overflow-y: hidden;">
    <div class="row " style="height: 90vh;">
        <div class="col-md-6" style="background-image: url('https://img.freepik.com/premium-photo/man-holding-his-mobile-phone_53419-13325.jpg');background-repeat: no-repeat;background-size: cover; background-position: center;"> 
            <h3 class="p-5 fw-bold">Budget</h3>
        </div>
        <div class="col-md-6 p-3 mt-md-0 mt-5 ">
            <div class="d-flex justify-content-end align-items-center">
                <h6 style="font-size: 15px;">Having trouble? <a href="" class="text-decoration-none fw-bold text-dark">Get Help</a></h6>
                <select class="form-select ms-2 border border-dark" aria-label="Default select example" style="width: 80px;font-size: 13px; font-weight: 600;">
                    <option selected>Eng</option>
                    <option value="1">Eng</option>
                    <option value="2">Mal</option>
                    <option value="3">Hin</option>
                </select>
            </div>
            <div class="d-flex justify-content-center align-items-center m-md-5 p-md-5 p-2 ">
                <form class="p-5 w-100 ">
                    <h4 class=" text-dark mb-4">Login to Budget</h4>
                    <p style="color: rgb(116, 114, 114);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="form-floating mt-5">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating d-flex">
                        <input [attr.type]="show?'password':'text'" class="form-control" id="floatingPassword" placeholder="Password" />
                        <label for="floatingPassword">Password</label>
                        <span class="d-flex align-items-center cursor-pointer" style="margin-left: -50px;" *ngIf="show" (click)="call()">show</span>
                        <span class="d-flex align-items-center cursor-pointer" style="margin-left: -50px;" *ngIf="!show" (click)="call()">hide</span>
                    </div>

                    <div class="d-flex mt-2 justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                             keep me logged in
                            </label>
                        </div>
                        <a href="" class="text-dark text-decoration-none">forget password?</a>
                    </div>
                    
                    <button class="btn btn-primary py-3 mt-4 w-100" routerLink="/dashboard"  type="submit" >Login</button>

                    <p class="text-center mt-4"><a href="" class="text-dark text-decoration-none">create account?</a></p>
                    
                </form>
            </div>
        </div>
    </div>
</div>
