<div class="container-fluid" style="height: 100vh;" >
    <div class="row">
        <div class="col-md-2 p-3 border border-right sidebar" id="parent">
            <h3 class="p-5 fw-bold d-none d-md-block">Budget</h3>
            <div>
                <h6 class="d-none d-md-block"><i class="fa-solid fa-bars me-2 "></i>Dashboard</h6>
            </div>


            <div class="mt-md-0 mt-5" id="child">
                <div class="d-flex px-5 py-2 rounded-5 justify-content-center" style="background-color: whitesmoke;">
                    <img src="https://i.pinimg.com/736x/ad/15/5b/ad155b4cfd5b6d220c3e5b51b349a37a.jpg" alt="" height="60px" width="60px" style="border-radius: 50%;">
                    <div class="ms-3">
                        <P class="fw-bold fs-5">Catherine</P>
                        <span>+91 9447541052</span>
                    </div>
                </div>
                <div class="p-3">
                    <p style="color: rgb(118, 117, 117);"><i class="fa-solid fa-right-from-bracket me-2"></i>Log Out</p>
                </div>
            </div>



        </div>


        <div class="col-md-10 p-3 p-md-0">
            <h3 class="mt-3">Dashboard</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <div class="border rounded-5 my-4 px-2 d-flex align-items-center" style="width: fit-content;">
                <img  class="me-2" src="https://th.bing.com/th/id/OIP.wTChpt8wrFfwwWU6cpZi9gHaHa?rs=1&pid=ImgDetMain" alt="" width="28px" height="28px" style="border-radius: 50%;">
                <p class="fw-medium mt-2" style="font-size: 13px;">You have 32 Support Request for Response <a href="" class="ms-3 text-dark">view</a></p>
            </div>
            <div class="row">
                <div class="col-md-3 my-md-0 my-4 ">
                    <div class="card bg-primary">
                        <div class="card-body p-4 text-light">
                            <p class="card-text">Total Users</p>
                            <h1 class="card-title">1,567</h1>
                            <p class="card-text"><span class="me-3 text-dark border rounded-5 bg-light px-2" style="font-size: 13px;">2.36% <i class="fa-solid fa-arrow-up ms-1"></i></span>Since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-md-0 my-4">
                    <div class="card bg-success">
                        <div class="card-body p-4 text-light">
                            <p class="card-text">Savings Account</p>
                            <h1 class="card-title">1,500</h1>
                            <p class="card-text"><span class="me-3 text-dark border rounded-5 bg-light px-2" style="font-size: 13px;">2.36% <i class="fa-solid fa-arrow-up ms-1"></i></span>Since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-md-0 my-4">
                    <div class="card bg-primary">
                        <div class="card-body p-4 text-light">
                            <p class="card-text">Savings Account</p>
                            <h1 class="card-title">1,500</h1>
                            <p class="card-text"><span class="me-3 text-dark border rounded-5 bg-light px-2" style="font-size: 13px;">2.36% <i class="fa-solid fa-arrow-up ms-1"></i></span>Since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-md-0 my-4">
                    <div class="card bg-success">
                        <div class="card-body p-4 text-light">
                            <p class="card-text">Savings Account</p>
                            <h1 class="card-title">1,500</h1>
                            <p class="card-text"><span class="me-3 text-dark border rounded-5 bg-light px-2" style="font-size: 13px;">2.36% <i class="fa-solid fa-arrow-up ms-1"></i></span>Since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-md-3 mt-5 table-responsive">
                <h4>Recently Active Users</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">USERID/NAME</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">TRANSACTION CATEGORY</th>
                        <th scope="col">TRANSACTION AMOUNT</th>
                        <th scope="col">ACCOUNT TYPE</th>
                        <th scope="col">BALANCE AMOUNT</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Monica James<caption>ID_12345689</caption></th>
                        <td>+91 9447541052</td>
                        <td>Income<caption>Salary</caption></td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                      </tr>
                      <tr>
                        <th scope="row">Samantha<caption>ID_12345689</caption></th>
                        <td>+91 9447541052</td>
                        <td>Income<caption>Salary</caption></td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                        <td><a href="" class="text-decoration-none text-dark" >view</a></td>
                      </tr>
                      <tr>
                        <th scope="row">Catherine<caption>ID_12345689</caption></th>
                        <td>+91 9447541052</td>
                        <td>Income<caption>Salary</caption></td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                      </tr>
                      <tr>
                        <th scope="row">Monica James<caption>ID_12345689</caption></th>
                        <td>+91 9447541052</td>
                        <td>Income<caption>Salary</caption></td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                      </tr>
                      <tr>
                        <th scope="row">Ileana Sam<caption>ID_12345689</caption></th>
                        <td>+91 9447541052</td>
                        <td>Income<caption>Salary</caption></td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center"><button class="btn btn-outline-dark rounded-5 fw-medium">view all</button></div>
            </div>


        </div>
    </div>
</div>
